<div class="w-75 mx-auto">
  <p class="fs-1">Register</p>
    {{#if registerError}}
    <p>{{registerError}}</p>
  {{/if}}
<form action="/register" method="post">
  <div class="form-floating mb-3">
  <input type="text" class="form-control" name="firstname" id="floatingInput" placeholder="First name">
  <label for="floatingInput">First name</label>
</div>

  <div class="form-floating mb-3">
  <input type="text" class="form-control" name="lastname" id="floatingInput" placeholder="Last Name">
  <label for="floatingInput">Last Name</label>
</div>

  <div class="form-floating mb-3">
  <input type="email" class="form-control" name="email" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput">Email address</label>
</div>
<div class="form-floating">
  <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Password</label>
</div>
<button class="btn btn-primary mt-3" type="submit">Register</button>
</form>
</div>
   

