.avatar {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
	
}
.avatar p {
	padding: 0;
	margin: 0;
}
.product-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 800px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 0 auto;
}

.product-card img {
	width: 100%;
	max-width: 500px;
	margin-bottom: 30px;
	margin-left: 100px;
}


.product-title {
	font-size: 24px;
	margin: 0;
	text-align: center;
}

.product-description {
	font-size: 16px;
	margin: 10px 0;
	text-align: center;
}

.product-price {
	font-size: 20px;
	font-weight: bold;
	margin: 10px 0;
}

.add-to-cart {
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
}
.image-zoom {

	padding: 3rem;
	position: relative;
	overflow: hidden;
	width: 800px;
	height: 500px;
}

.image-zoom img {
	position: absolute;
	width: 100%;
	height: 100%;
	transition: transform 0s linear;
}

.image-zoom:hover img {
	transform: scale(1.5);
}
